/*
font families
font-family: "Inter", Arial, sans-serif;
font-family: "Noto Serif", "Times New Roman", serif;
*/
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
}
.nav {
  display: flex;
}

.nav__logo {
  position: relative;
  /* deixei relative para poder continuar no fluxo normal e permitir dar espaçamento nas boxes de baixo */
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}
.nav__links {
  display: flex;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 80px;
  gap: 20px;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__link {
  color: #000;
  text-decoration: none;
}
.header__title {
  max-width: 709px;
  padding-top: 183px;
  padding-left: 80px;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
}

.header__span-accent_break-line {
  display: block;
}
.header__title-line-2 {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__description {
  padding-top: 28px;
  padding-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph_type-time {
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__paragraph_type-address {
  position: absolute;
  bottom: 40px;
  right: 80px;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.recipes__title {
  padding-top: 100px;
  padding-left: 80px;
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}
.recipes__subtitle {
  margin-top: 24px;
  padding-left: 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
.recipes__videos {
  margin-top: 80px;
  padding-bottom: 215px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-self: center;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}
.videocaption {
  margin-top: 24px;
  width: 480px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 120px;
}
.reservation__title {
  text-align: center;
  margin-top: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.form {
  /* os demais estilos do form vão aqui */
  max-width: 385px;
}
.reservation__form {
  /* as margens vão aqui */
  margin-top: 80px;
  margin: 80px auto 0 auto;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  border: none;
  margin: 0;
  padding: 0;
}
.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 32px;
  height: 60px;
  padding: 15px 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border: solid 1px #838383;
}
.form__input::placeholder {
  color: #838383;
  opacity: 1;
}
.form__button {
  border-radius: 4px;
  box-sizing: border-box;
  height: 60px;
  max-width: 385px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #fff;
  border: solid 1px #838383;
}
.form__button:hover {
  opacity: 70%;
  cursor: pointer;
}
.form__label_type_checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}
.form__label_type_checkbox:hover {
  cursor: pointer;
}
.form__checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #fff;
  border: solid 1px #838383;
}
.form__checkbox:hover {
  cursor: pointer;
}
.form__checkbox:checked {
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f80ed;
}
